<section class="book" id="book">
  <h1 class="heading">
    <span>B</span>
    <span>o</span>
    <span>o</span>
    <span>k</span>
    <span class="space"></span>
    <span>N</span>
    <span>o</span>
    <span>w</span>
  </h1>
  <div class="row">
    <div class="image">
      <img src="images/book-img.svg" alt="" />
    </div>
    <form action="">
      <div class="inputBox">
        <h3>Destination</h3>
        <input type="text" placeholder="Place name" />
      </div>
      <div class="inputBox">
        <h3>Travellers Count</h3>
        <input type="number" placeholder="Number of travellers" />
      </div>
      <div class="inputBox">
        <h3>From</h3>
        <input type="date" />
      </div>
      <div class="inputBox">
        <h3>To</h3>
        <input type="date" />
      </div>
      <input type="submit" class="btn" value="book now" />
    </form>
  </div>
</section>
