<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>About us</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quas
        magni pariatur est accusantium voluptas enim nemo facilis sit debitis.
      </p>
    </div>
    <div class="box">
      <h3>Branch locations</h3>
      <a href="#">India</a>
      <a href="#">USA</a>
      <a href="#">Japan</a>
      <a href="#">France</a>
    </div>
    <div class="box">
      <h3>Quick links</h3>
      <a href="#">Home</a>
      <a href="#">Book</a>
      <a href="#">Packages</a>
      <a href="#">Services</a>
      <a href="#">Gallery</a>
      <a href="#">Review</a>
      <a href="#">Contact</a>
    </div>
    <div class="box">
      <h3>Follow us</h3>
      <a href="#">Meta</a>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
      <a href="#">LinkedIn</a>
    </div>
  </div>
  <h1 class="credit">
    © Created by <span> Suvigya Mishra </span> All rights reserved
  </h1>
</section>
