<section class="gallery" id="gallery">
  <h1 class="heading">
    <span>G</span>
    <span>a</span>
    <span>l</span>
    <span>l</span>
    <span>e</span>
    <span>r</span>
    <span>y</span>
  </h1>
  <div class="box-container">
    <div class="box">
      <img src="images/g-1.jpg" alt="" />
      <div class="content">
        <h3>Amazing places</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          tenetur.
        </p>
        <a href="#" class="btn">See more</a>
      </div>
    </div>
    <div class="box">
      <img src="images/g-2.jpg" alt="" />
      <div class="content">
        <h3>Amazing places</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          tenetur.
        </p>
        <a href="#" class="btn">See more</a>
      </div>
    </div>
    <div class="box">
      <img src="images/g-3.jpg" alt="" />
      <div class="content">
        <h3>Amazing places</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          tenetur.
        </p>
        <a href="#" class="btn">See more</a>
      </div>
    </div>
    <div class="box">
      <img src="images/g-4.jpg" alt="" />
      <div class="content">
        <h3>Amazing places</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          tenetur.
        </p>
        <a href="#" class="btn">See more</a>
      </div>
    </div>
    <div class="box">
      <img src="images/g-5.jpg" alt="" />
      <div class="content">
        <h3>Amazing places</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          tenetur.
        </p>
        <a href="#" class="btn">See more</a>
      </div>
    </div>
    <div class="box">
      <img src="images/g-6.jpg" alt="" />
      <div class="content">
        <h3>Amazing places</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          tenetur.
        </p>
        <a href="#" class="btn">See more</a>
      </div>
    </div>
    <div class="box">
      <img src="images/g-7.jpg" alt="" />
      <div class="content">
        <h3>Amazing places</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          tenetur.
        </p>
        <a href="#" class="btn">See more</a>
      </div>
    </div>
    <div class="box">
      <img src="images/g-8.jpg" alt="" />
      <div class="content">
        <h3>Amazing places</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          tenetur.
        </p>
        <a href="#" class="btn">See more</a>
      </div>
    </div>
    <div class="box">
      <img src="images/g-9.jpg" alt="" />
      <div class="content">
        <h3>Amazing places</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          tenetur.
        </p>
        <a href="#" class="btn">See more</a>
      </div>
    </div>
  </div>
</section>
