<div class="login-form-container">
  <i class="fas fa-times" id="form-close"></i>
  <form action="">
    <h3>Login</h3>
    <input type="email" class="box" placeholder="Enter your email" />
    <input type="password" class="box" placeholder="Enter your password" />
    <input type="submit" value="Login now" class="btn" />
    <input type="checkbox" id="remember" />
    <label for="remember">Remember me</label>
    <p>Forgot password? <a href="#">Click here</a></p>
    <p>Don't have an account? <a href="#">Register now</a></p>
  </form>
</div>
