<section class="services" id="services">
  <h1 class="heading">
    <span>S</span>
    <span>e</span>
    <span>r</span>
    <span>v</span>
    <span>i</span>
    <span>c</span>
    <span>e</span>
    <span>s</span>
  </h1>
  <div class="box-container">
    <div class="box">
      <i class="fas fa-hotel"></i>
      <h3>Affordable Hotels</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
        commodi earum, quis voluptate exercitationem ut minima itaque iusto
        ipsum corrupti!
      </p>
    </div>
    <div class="box">
      <i class="fas fa-utensils"></i>
      <h3>Food and Drinks</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
        commodi earum, quis voluptate exercitationem ut minima itaque iusto
        ipsum corrupti!
      </p>
    </div>
    <div class="box">
      <i class="fas fa-bullhorn"></i>
      <h3>Safety guide</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
        commodi earum, quis voluptate exercitationem ut minima itaque iusto
        ipsum corrupti!
      </p>
    </div>
    <div class="box">
      <i class="fas fa-globe-asia"></i>
      <h3>Around the World</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
        commodi earum, quis voluptate exercitationem ut minima itaque iusto
        ipsum corrupti!
      </p>
    </div>
    <div class="box">
      <i class="fas fa-plane"></i>
      <h3>Fastest travel</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
        commodi earum, quis voluptate exercitationem ut minima itaque iusto
        ipsum corrupti!
      </p>
    </div>
    <div class="box">
      <i class="fas fa-hiking"></i>
      <h3>Adventures</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
        commodi earum, quis voluptate exercitationem ut minima itaque iusto
        ipsum corrupti!
      </p>
    </div>
  </div>
</section>
